
video
{
    width: 100%;
}

.audio-list
{

    .ant-row
    {
        div
        {
            width:100%;
        }
    }
    width: 100%;

    .audio-list-item
    {
        border-radius: 25px;
        background-color: rgb(241,243,244);
        width: 100%;
        display: flex !important;

        .audio-list-audio
        {
            width: 100%;
        }

      
    }
}

.document-list
{
    .ant-row
    {
        div
        {
            width:100%;
        }
    }
    width: 100%;

    .document-list-item
    {
        .ant-list-item-meta-avatar
        {
            margin-inline-end: 8px !important;
        }
        .ant-list-item-meta-content
        {
            margin-top: auto;
        }

        .ant-list-item-meta
        {
            padding: 10px;
        }
        border-radius: 25px;
        background-color: rgb(241,243,244);
        width: 100%;
        display: flex !important;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.media-form-list
{
    .media-form-list-item
    {

        .ant-image
        {
            width:100%;
        }
        .ant-button
        {
            z-index: 1;
            margin: 0px;
            height: 25px;
            right: 0;
            width: 25px;
            position: absolute;

            padding: 0px;
        }
    }
}