.chat-page-container
{
    height:100%;

    .chat-page-row
    {
        margin-left: 10px !important;
        margin-right: 0px !important;
        .chat-page-col
        {

            height: 100%;
        }
        color:white;
        height: 100%;
 

        .watched-dialogs-col
        {
            padding-left: 10px;
            .side-chat-menu
            {
                display: flex;
                flex-direction: column;
                gap:10px;

                top:74px;
                position:sticky;
            }
        }
    }
}