.vertical-menu
{ 
    border-inline-end:none !important;
    background-color: unset !important;

    .vertical-menu-item
    {
        background-color: transparent  !important; 
        margin-left: -16px !important;

        &.ant-menu-item-selected::before,
        &:hover::before
        {
            content: '\00a0';
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--theme-color);
            position: absolute;
            height: 75%;
            top: 12.5%;
        } 

        &.ant-menu-item
        {
            cursor: pointer;
        }
    }

    .ant-menu-title-content
    {
        margin: 15%;

    }

    &.ant-menu
    {
        margin: 10px 0 10px 0;
    }
}