@import "../../variables";


.setting-page-container
{
    display:grid;
    margin: 15px 0px;
    padding-bottom: 15px;
    width: 100%;
    .user-data-settings .ant-upload 
    {
        width: 120px !important;
        height: 120px !important;
    }

    .settings-page-row
    {
        width: 90%;
        justify-self:center;
    }

    .settings-page-general-col
    {
        .ant-space
        {
            width: 100%;
        }

        
        @media(min-width: $md) 
        {
            .settings-page-space
            {
                margin-bottom:0px;

            }
        }

        .settings-page-space
        {
            margin-bottom:74px;

        }
    }

}