.user-card
{
    justify-self: center;
    margin: -20px 0 0 0;
    width:100%;
    min-height: 100px;

    & > .ant-card-head 
    {
        border-bottom: none;
    }

    .user-avatar
    {
        background: gainsboro;
        margin: -40px -10px;
        border: solid white 4px;
    }

    .user-card-info-row
    {
        align-items: baseline;

        .ant-typography
        {
            cursor: pointer;
        }
        
        .user-card-description
        {
            white-space: pre-line;
        }
    }

    .user-card-avatar-container
    {
        position: absolute 
    }

    .user-card-info-col
    {
        padding-top: 20px;
        padding-left: 130px;
    } 
}