
.user-data-form-card
{
    
    .ant-space
    {
        width: 100%;
        justify-self:center;
    }

    .update-avatar-form
    {
        .ant-upload 
        {
            width: 120px !important;
            height: 120px !important;
            margin:0 !important;
            
            .text
            {
                margin-top:8px;
            }
        }

        .row
        {
            display:flex;
            align-items: end;
        }
    }

    .submit-form
    {
        justify-content:end;
        display:flex;
    }
}