@import '../../_variables.scss';


.reply-item-card
{
    width: 100%;
    border:none;
    display: flex;
    background-color: transparent;

    .ant-list-item:hover
    {
        background: none;
    }
    
    @media(min-width: $md) 
    {
        &
        {
            padding: 5px 5px;

        }
    }

    padding: 5px 0px;


    @keyframes activePosition {
        0%{
            margin-left: -30px;
        }
        50%{
            margin-left: -35px;
        }
        100%{
            margin-left: -30px;
        }
    }

    @keyframes activeBackground {
        from{
            border:solid;
            border-width: 0 3px 3px 0;

            border-color: black;
        }
        to{
            border:solid;
            border-width: 0 3px 3px 0;

            border-color: transparent;
        }
    }

    &.active::before
    {
        height: 15px;
        width:15px;
        transform: rotate(-45deg);
        align-self: center;
        position: absolute;
        content:'';
        animation: activeBackground 3s ease-in-out  0s 1,activePosition 1s ease-in-out  0s 3;
    }



    .ant-card-body
    {
        flex-basis: 100%;
        padding:0px 0px;
    }

    .reply-content-row
    {
        flex-wrap: nowrap;
    }

    .ant-col
    {
        height: 100%;
    }
  

    .reply-content-space
    {
        width: 100%;
        background-color: rgba(162, 162, 162,0.05);
        padding:5px 10px;
        border-radius: 10px;

        .reply-meta-space
        {
            .ant-space-item:nth-last-child(1)
            {
                margin: 0 0 0 auto;
            }
        }
    }

    .reply-item-images-container .ant-image
    {
        width: 25%;
    }
  

    .retweet-button,
    .like-button,
    .save-button,
    .reply-button 
    {
        cursor:pointer;
        border-radius: 10px;
        padding: 1px 3px;

        &:hover
        {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

 

    .active
    {
        &.retweet-button
        {
            color: rgba(39, 174, 96, 1);
            
            &:hover
            {
                background-color: rgba(39, 174, 96, 0.1);
            }
        }

        &.like-button
        {
            color: rgba(235, 87, 87, 1);

            &:hover
            {
                background-color: rgba(235, 87, 87, 0.1);
            }
        }

        &.save-button
        {
            color: rgba(45, 156, 219, 1);
            &:hover
            {
                background-color: rgba(45, 156, 219, 0.1);
            }
        }
    }
  
    .reply-item-stats 
    {
        padding:5px 0 0 0;
        span
        {
            font-size: 12px;
        }
    }

    
}



