

.smMd-layout
{
    background: "#F2F2F2";

    .ant-layout-header {
        display: flex;
        position: relative;
        background-color: #fff;
        color: #141414;
        box-shadow: 0 20px 27px rgba(0,0,0,0.05);
        flex-direction: row;
        padding: 0 50px;
        height: 64px;
        line-height: 64px;
    }

    .header-nav-container
    {
        margin-left: auto;
        width: 100%;
        margin-right: auto;

        .ant-menu-overflow 
        {
            justify-content: center;
        }

        .ant-menu-item-selected.ant-menu-item-only-child::after, 
        .ant-menu-item-active.ant-menu-item-only-child:hover::after
        {
            border-bottom-width: 3px;
            rotate: 180deg;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .ant-header
    {
        display: flex;
    }

    



    .header-popover-container
    {
        white-space: nowrap;

        .ant-typography
        {
            margin: 5px 0px 0px 10px;
            cursor: pointer;
        }    
    }

  
    .ant-avatar
    {
        cursor: pointer;
    }

    .ant-layout-content
    {
        display:grid;
        width:100vw;
    }

   
}

.chat-layout
{
    top: 0;
    bottom: 0;
    position: absolute;
}

#headerPopover
{
    width:180px;

    .user-header-button-profile,
    .user-header-button-chat,
    .user-header-button-settings,
    .user-header-button-logout
    {
        padding-left: 10px;
        text-align: left;
        height: 45px;
    }
    .user-header-popover-content
    {
        width: 100%;;
    }

    .ant-divider
    {
        margin: 10px 0px;
    }


}