.people-list-card
{
    .ant-card-body
    {
        padding:10px 5px;
    }

    .people-list
    {
        width: 100%;

        .ant-list-item:hover
        {
            background: rgba(152, 197, 215, 0.16) !important;
        }

        .ant-list-item.people-list-item
        {
            .ant-list-item-meta
            {
                align-items:center !important;

            }
            
            display: flex;
        }
        
        .ant-space
        {
            width: 100%;
        }
    }
}

.people-filters-card
{
    .ant-card-body
    {
        padding:10px 10px;
    }

    .ant-form-item
    {
        margin:0;
    }
}
