.post-item-card
{
    width: 100%;

    .post-item-display-none
    {
        .ant-space-item:nth-child(3)
        {
            display: none;
        }
    }

    .post-item-images-container .ant-image
    {
        width: 25%;
    }

    .ant-card-head
    {
        position: absolute;
        width:100%;
        border-bottom: none;
    }

    .ant-card-body
    {
        padding: 24px 24px 12px 24px;
    }

    .retweet-button,
    .like-button,
    .save-button
    {
        cursor:pointer;
    }

    .active
    {
        &.retweet-button
        {
            color: rgba(39, 174, 96, 1);
            
            &:hover
            {
                background-color: rgba(39, 174, 96, 0.1);
            }
        }

        &.like-button
        {
            color: rgba(235, 87, 87, 1);

            &:hover
            {
                background-color: rgba(235, 87, 87, 0.1);
            }
        }

        &.save-button
        {
            color: rgba(45, 156, 219, 1);
            &:hover
            {
                background-color: rgba(45, 156, 219, 0.1);
            }
        }
    }
    

    .ant-card-meta-title
    {
        margin-bottom: 0px !important;
        margin-top: -5px !important;
    }

    .ant-card-meta-description
    {
        margin-top: -2px !important;
    }



    .post-item-stats 
    {
        padding:5px 0 0 0;
        span
        {
            font-size: 12px;
        }
    }

    .post-item-card-description
    {
        font-size: 12px;
    }

    .ant-divider
    {
        margin-top: -13px;
        margin-bottom: 0;
    }

    .ant-row.action-row
    {
        margin-top: -25px;
    }

    .reply-row.ant-row
    {
        flex-wrap: nowrap;

        .ant-input-affix-wrapper
        {
            margin-left: 10px;

            .anticon 
            {
                color: rgba(0,0,0,.45);
            }
        }
        
    }
}

.post-item-card-space
{
    width: 100%;

    & > .ant-space-item:nth-last-child(1)
    {
        margin:-20px 0 0 0;
    }
}

