
video
{
    width: 100%;
}

.audio-form-list
{

    .ant-row
    {
        div
        {
            width:100%;
        }
    }
    width: 100%;

    .audio-form-list-item
    {
        border-radius: 25px;
        width: 100%;
        display: flex !important;
        padding: 0;
        .audio-form-list-audio
        {
            width: 100%;
        }

      
    }
}

.document-form-list
{
    .ant-row
    {
        div
        {
            width:100%;
        }
    }
    width: 100%;

    .document-form-list-item
    {
        border-radius: 25px;
        background-color: rgb(241,243,244);
        width: 100%;
        display: flex !important;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.media-form-list
{
    .media-form-list-item
    {

        .delete-media-button
        {
            position:absolute;
            right: 25px;
            border-radius: 0px;
            color: rgba(0,0,0,0.2);

            &:hover
            {
                background: rgba(0,0,0,0.1);
                color:red;
            }
        }
        .ant-button
        {
            z-index: 1;
            margin: 0px;
            height: 25px;
            right: 0;
            width: 25px;
            position: absolute;

            padding: 0px;
        }
    }
}