.explore-page-container
{
    display:grid;
    margin: 15px 0px;

    .explore-page-row
    {
        width: 75vw;
        justify-self:center;

        .explore-page-feed-col
        {
            .ant-space
            {
                width: 100%;
                justify-self:center;
            }
        }
    }
}