.auth-page-container
{
    overflow-x: hidden;
    height: 100%;

    .login, .register
    {
        height: 100%;

        .form-col
        {
            display: flex;
            height: 100%;
            background: white;
            flex-direction: column;
            justify-content: center;
            padding:0 10% 0 10%;
            box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 0px;
            z-index: 1;
        }
        

        .content-col
        {
            text-align: center;
            height: 100%;
            overflow-y: hidden;
            .bg-image
            {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }

}



.fade-enter .register {
    opacity: 0.5;
    transform: translateX(-25%);
}

.fade-enter-active .register {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit .register {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active .register {
    opacity: 0.1;
    transform: translateX(-25%);
    transition: opacity 300ms, transform 300ms;
}

.fade-enter .login {
    opacity: 0.5;
    transform: translateX(25%);
}

.fade-enter-active .login {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;

}

.fade-exit .login {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active .login {
    opacity: 0.1;
    transform: translateX(25%);
    transition: opacity 300ms, transform 300ms;
}
