.modal
{
    .ant-modal-footer
    {
        display: none;
    }
}

.user-page-container
{
    display:grid;
    margin-bottom: 15px;

    .user-page-space
    {
        width: 75vw;
        justify-self:center;

        .user-page-usercard-row
        {
            margin-top: -40px;
        }
    }

    & > .ant-image
    {
        height: 40vh;
    }

    .ant-image .user-bg-image
    {   
        object-fit: cover;
        height: 100%;
        width:100%;
    }
}

    