
/*#region CSS overrides*/
*
{
    margin: 0;
    padding: 0;
}

body 
{
    overflow-x: hidden;
    min-height: 100vh;
    background: #F2F2F2;

}

.ant-row
{
    height: 100%;
}

#root
{
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ant-button
{
    cursor: pointer;
}


/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: white; 
    
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgba(0,0,0,.15);
    border-radius: 10px;
    transition: background 4s ease-in-out; z-index:100;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: background 4s ease-in-out;
    background: rgba(0,0,0,.45);
    border-radius: 10px; z-index:100;
}
/*#endregion*/

/*#region Fonts*/
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") 
    format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf") 
    format("truetype");
}
/*#endregion*/
