/*#region CSS overrides*/
*
{
    margin: 0;
    padding: 0;
}

body 
{
    overflow-x: hidden;
    min-height: 100vh;
}

.ant-row, .login, .register,.auth-page-content
{
    height: 100%;
}
/*#endregion*/

/*#region Fonts*/
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") 
    format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf") 
    format("truetype");
}
/*#endregion*/

/*#region Auth page, login and register forms classes*/
.auth-page-content
{
    overflow-x: hidden;
}

.sign-up-header .content
{
    text-align: center;
}

.login .form-col, .register .form-col
{
    padding:0 10% 0 10%;
}

.login .content-col, .register .content-col
{
    text-align: center;
}


.header-col.header-nav {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
}

.header-col.header-nav .ant-menu-overflow {
    justify-content: center;
}

header.ant-layout-header {
    display: flex;
    position: relative;
    background-color: #fff;
    color: #141414;
    box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
    flex-direction: row;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
  }
/*#endregion*/

/*#region Login and register forms animation */
.fade-enter .register {
    opacity: 0.5;
    transform: translateX(-25%);
}

.fade-enter-active .register {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit .register {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active .register {
    opacity: 0.1;
    transform: translateX(-25%);
}

.fade-enter-active .register {
    transition: opacity 300ms, transform 300ms;
}

.fade-exit-active .register {
    transition: opacity 300ms, transform 300ms;
}

.fade-enter .login {
    opacity: 0.5;
    transform: translateX(25%);
}

.fade-enter-active .login {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit .login {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active .login {
    opacity: 0.1;
    transform: translateX(25%);
}

.fade-enter-active .login {
    transition: opacity 300ms, transform 300ms;
}

.fade-exit-active .login {
    transition: opacity 300ms, transform 300ms;
}
/*#endregion*/

/*#region Profile card */

.profile-card-info-row
{
    align-items: baseline
}

.profile-card-info-row .profile-card-description
{
    white-space: pre-line;
}

.profile-card-avatar
{
   position: absolute 
}

.profile-card-info-col
{
    padding-top: 20px;
    padding-left: 130px;
}
/*#endregion*/

/*#region Profile background image */
.ant-image .profile-bg-image
{
    object-fit: cover;
    height: 100%;
    width:100%;
}

.home-page-container > .ant-image
{
    height: 40vh;
}
/*#endregion*/

/*#region Vertical menu */
.vertical-menu-item
{
    background-color: transparent  !important; 
    margin-left: -16px !important; 
}

.vertical-menu-item.ant-menu-item-selected::before,
.vertical-menu-item:hover::before
{
    content: '\00a0';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--theme-color);
    position: absolute;
    height: 75%;
    top: 12.5%;
}

.vertical-menu .ant-menu-title-content
{
    margin: 15%;
}

.vertical-menu
{ 
    border-inline-end:none !important;
    background-color: unset !important;
}

/* .vertical-menu .ant-menu-item
{
    overflow: unset;
} */

.vertical-menu.ant-menu
{
    margin: 10px 0 10px 0;
}
/*#endregion*/

/*#region Post item */
.post-item-card .ant-card-meta-title,
.post-item-card .ant-card-meta-description
{
    margin-bottom: 0px !important;
    margin-top: -5px !important;
}

.post-item-card .post-item-card-description
{
    font-size: 12px;
}

.post-item-card .ant-card-meta-description
{
    margin-top: -2px !important;
}

.post-item-stats span
{
    font-size: 12px;
}


/*#endregion*/

/*#region Post list*/
.post-list,
.post-item-card-space
{
    width: 100%;
}
/*#endregion*/

/*#region Post form */
.post-form-card .ant-card-body
{
    padding: 15px 15px 10px 15px;
}
.post-form-card .ant-card-meta-title,
.post-form-card .ant-card-meta-description
{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.post-form-card .post-form-card-description
{
    font-size: 12px;
}

.post-form-card .ant-card-meta-description
{
    margin-top: -2px !important;
}

.post-form-card .ant-card-meta-title .post-form-card-title
{
    font-size: 12px !important;
}

.post-form-card .post-form-card-space
{
    width: 100%;
}

.post-form-card .ant-input-textarea
{
    margin-top: 5px;
    width: 100%;
}

.post-form-card .post-form-textarea .ant-input 
{
    resize: none;
    padding-right: 0;
    border:none !important;
    box-shadow: none !important;
}

.ant-popover-arrow
{
    display: none !important;
}

.ant-radio-button-wrapper::before
{
    content: none !important;
}

#replyPopover
{
    width:80%;
}

.post-form-card .post-form-buttons .post-form-popover-content
{
    width: 100%;
}
/*#endregion*/

/*#region Trends section */
.trends-section-card .trends-section-card-list .ant-list-item
{
    padding: 0;
}

.ant-list.trends-section-card-list
{
    margin-top: 20px;
}

.trends-section-card  .ant-card-body
{
    padding: 15px 15px 10px 15px;
}

.trends-section-card .ant-card-meta-title .trends-section-card-title
{
    font-size: 12px !important;
}
/*#endregion*/

/*#region ToFollow section */
.follow-section-card .follow-section-card-list .ant-list-item
{
    padding: 0;
}

.ant-list.follow-section-card-list
{
    margin-top: 20px;
}

.follow-section-card  .ant-card-body
{
    padding: 15px 15px 10px 15px;
}

.follow-section-card .ant-card-meta-title .follow-section-card-title
{
    font-size: 12px !important;
}

.ant-card.follow-section-item-card
{
    box-shadow: none;
}

.follow-section-card .follow-section-card-list .follow-section-item-title,
.follow-section-card .follow-section-card-list .follow-section-item-description
{
    margin-bottom: 0px !important;
    margin-top: -4px !important;
}

.follow-section-item-header
{
    display:flex;
    flex-direction:column;
    margin:2px 0 0 10px;
}

.follow-section-card .follow-section-item-description
{
    font-size: 12px;
}

.follow-section-card .follow-section-card-list  .follow-section-item-description
{
    margin-top: 0px !important;
}

.follow-section-card-list
{
    margin:0 !important;
}

.follow-section-card .follow-section-item-text
{
    margin:5px 0 0 0;
    font-size: 13px;
    color: rgba(0,0,0,.45);
}

.follow-section-item
{
    padding:20px 0px;
    margin-bottom:10px
}

.follow-image
{
    border-radius: 8px;
    height: 77px;
}

.ant-image .follow-image
{
    object-fit: cover;
    height: 100%;
    width:100%;
}

.follow-image .ant-image-mask
{
    border-radius: 8px;
}

.follow-image-row .ant-image
{
    height: 100px;
    width: 100%;
}
/*#endregion*/

/*#region Page containers */
.home-feed-page-container,
.bookmarks-page-container,
.explore-page-container
{
    margin-top: 2%;
}
/*#endregion*/

/*#region Header user popover */

.user-header-button-profile,
.user-header-button-chat,
.user-header-button-settings,
.user-header-button-logout
{
    padding-left: 10px;
    text-align: left;
    height: 45px;
}
.user-header-popover-content
{
    width: 100%;;
}
#headerPopover
{
    width:180px;
}


/*#endregion*/


.search-bar-card .ant-input-group-addon:last-child .ant-input-search-button
{
    border-radius:6px !important;
}

.search-bar-card .ant-card-body
{
    padding: 10px 15px 10px 15px;
}
.search-bar-card .search-bar-input .ant-input 
{
    resize: none;
    padding-right: 0;
    border:none !important;
    box-shadow: none !important;
}

.search-bar-card .ant-input-group-addon
{
    border: none;
    background-color: transparent;
}