/*#region CSS overrides*/
*
{
    margin: 0;
    padding: 0;
}

body 
{
    min-height: 100vh;
}

.ant-row, .login, .register,.auth-page-content
{
    height: 100%;
}
/*#endregion*/

/*#region Fonts*/
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") 
    format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf") 
    format("truetype");
}
/*#endregion*/

/*#region Auth page, login and register forms classes*/
.auth-page-content
{
    overflow-x: hidden;
}

.sign-up-header .content
{
    text-align: center;
}

.login .form-col, .register .form-col
{
    padding:0 10% 0 10%;
}

.login .content-col, .register .content-col
{
    text-align: center;
}


.header-col.header-nav {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
}

.header-col.header-nav .ant-menu-overflow {
    justify-content: center;
}

header.ant-layout-header {
    display: flex;
    position: relative;
    background-color: #fff;
    color: #141414;
    box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
    flex-direction: row;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
  }
/*#endregion*/

/*#region Login and register forms animation */
.fade-enter .register {
    opacity: 0.5;
    transform: translateX(-25%);
}

.fade-enter-active .register {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit .register {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active .register {
    opacity: 0.1;
    transform: translateX(-25%);
}

.fade-enter-active .register {
    transition: opacity 300ms, transform 300ms;
}

.fade-exit-active .register {
    transition: opacity 300ms, transform 300ms;
}

.fade-enter .login {
    opacity: 0.5;
    transform: translateX(25%);
}

.fade-enter-active .login {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit .login {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active .login {
    opacity: 0.1;
    transform: translateX(25%);
}

.fade-enter-active .login {
    transition: opacity 300ms, transform 300ms;
}

.fade-exit-active .login {
    transition: opacity 300ms, transform 300ms;
}
/*#endregion*/

/*#region Profile card */

.profile-card-info-row
{
    align-items: baseline
}

.profile-card-info-row .profile-card-description
{
    white-space: pre-line;
}

.profile-card-avatar
{
   position: absolute 
}

.profile-card-info-col
{
    padding-top: 20px;
    padding-left: 130px;
}
/*#endregion*/

/*#region Vertical menu */
.vertical-menu-item
{
    background-color: transparent  !important; 
    margin-left: -16px !important; 
}

.vertical-menu-item.ant-menu-item-selected::before,
.vertical-menu-item:hover::before
{
    content: '\00a0';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--theme-color);
    position: absolute;
    height: 75%;
    top: 12.5%;
}

.vertical-menu .ant-menu-title-content
{
    margin: 15%;
}

.vertical-menu
{ 
    border-inline-end:none !important;
    background-color: unset !important;
}

.vertical-menu .ant-menu-item
{
    overflow: unset;
}
/*#endregion*/

/*#region Post item */
.post-item-card .ant-card-meta-title,
.post-item-card .ant-card-meta-description
{
    margin-bottom: 0px !important;
    margin-top: -5px !important;
}

.post-item-card .post-item-card-description
{
    font-size: 12px;
}

.post-item-card .ant-card-meta-description
{
    margin-top: -2px !important;
}
/*#endregion*/

/*#region Post list*/
.post-list,
.post-list .ant-space-item
{
    width: 100%;
}
/*#endregion*/